MvcEntretenimiento/MvcEntretenimiento/Web References/localhost/ServiceEntretenimiento0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1839/ServiceEntretenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BEEntities" />
  <xs:element name="RegistrarCabeceraCampo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BEEntities" minOccurs="0" name="besolicitudcampo" nillable="true" type="q1:BESolicitudCampo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCabeceraCampoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarCabeceraCampoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarServicioCampo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BEEntities" minOccurs="0" name="listbeserviciocampo" nillable="true" type="q2:ArrayOfBEServicioCampo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarServicioCampoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerClubs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerClubsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BEEntities" minOccurs="0" name="LeerClubsResult" nillable="true" type="q3:ArrayOfBEClub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerJuegos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerJuegosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BEEntities" minOccurs="0" name="LeerJuegosResult" nillable="true" type="q4:ArrayOfBEJuego" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BEEntities" minOccurs="0" name="LeerServiciosResult" nillable="true" type="q5:ArrayOfBEServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOferta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BEEntities" minOccurs="0" name="ReceiveOfertaResult" nillable="true" type="q6:ArrayOfBEOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>