MvcEntretenimientoWeb/MvcEntretenimientoWeb/Service References/ServiceReference1/ServiceEntretenimiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEntretenimiento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1839/ServiceEntretenimiento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1839/ServiceEntretenimiento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1839/ServiceEntretenimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BEEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceEntretenimiento_RegistrarCabeceraCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCabeceraCampo" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_RegistrarCabeceraCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCabeceraCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_RegistrarServicioCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarServicioCampo" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_RegistrarServicioCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarServicioCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_LeerClubs_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerClubs" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_LeerClubs_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerClubsResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_LeerJuegos_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerJuegos" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_LeerJuegos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerJuegosResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_LeerServicios_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerServicios" />
  </wsdl:message>
  <wsdl:message name="ServiceEntretenimiento_LeerServicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerServiciosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceEntretenimiento">
    <wsdl:operation name="RegistrarCabeceraCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceEntretenimiento/RegistrarCabeceraCampo" message="tns:ServiceEntretenimiento_RegistrarCabeceraCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceEntretenimiento/RegistrarCabeceraCampoResponse" message="tns:ServiceEntretenimiento_RegistrarCabeceraCampo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarServicioCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceEntretenimiento/RegistrarServicioCampo" message="tns:ServiceEntretenimiento_RegistrarServicioCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceEntretenimiento/RegistrarServicioCampoResponse" message="tns:ServiceEntretenimiento_RegistrarServicioCampo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerClubs">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceEntretenimiento/LeerClubs" message="tns:ServiceEntretenimiento_LeerClubs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceEntretenimiento/LeerClubsResponse" message="tns:ServiceEntretenimiento_LeerClubs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerJuegos">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceEntretenimiento/LeerJuegos" message="tns:ServiceEntretenimiento_LeerJuegos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceEntretenimiento/LeerJuegosResponse" message="tns:ServiceEntretenimiento_LeerJuegos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerServicios">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceEntretenimiento/LeerServicios" message="tns:ServiceEntretenimiento_LeerServicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceEntretenimiento/LeerServiciosResponse" message="tns:ServiceEntretenimiento_LeerServicios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceEntretenimiento" type="tns:ServiceEntretenimiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCabeceraCampo">
      <soap:operation soapAction="http://tempuri.org/ServiceEntretenimiento/RegistrarCabeceraCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarServicioCampo">
      <soap:operation soapAction="http://tempuri.org/ServiceEntretenimiento/RegistrarServicioCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerClubs">
      <soap:operation soapAction="http://tempuri.org/ServiceEntretenimiento/LeerClubs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerJuegos">
      <soap:operation soapAction="http://tempuri.org/ServiceEntretenimiento/LeerJuegos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerServicios">
      <soap:operation soapAction="http://tempuri.org/ServiceEntretenimiento/LeerServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEntretenimiento">
    <wsdl:port name="BasicHttpBinding_ServiceEntretenimiento" binding="tns:BasicHttpBinding_ServiceEntretenimiento">
      <soap:address location="http://localhost:1839/ServiceEntretenimiento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>